<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main.ouch.core.dao.UserDao">

    <select id="queryAll" parameterType="User" resultType="User">
        SELECT
            user_id,
            username,
            email,
            role,
            admin_role,
            reg_time
        FROM
            user
    </select>

    <select id="queryByUserId" parameterType="java.lang.String" resultType="User">
        SELECT
            user_id,
            username,
            email,
            role,
            admin_role,
            reg_time
        FROM
            user
        WHERE
            user_id = #{0}
    </select>

    <select id="queryByUsername" parameterType="java.lang.String" resultType="User">
        SELECT
            user_id,
            username,
            email,
            role,
            admin_role,
            reg_time
        FROM
            user
        WHERE
            username = #{0}
    </select>

    <select id="queryByEmail" parameterType="java.lang.String" resultType="User">
        SELECT
            user_id,
            username,
            email,
            role,
            admin_role,
            reg_time
        FROM
            user
        WHERE
            email = #{0}
    </select>

    <select id="queryByLoginInfo" parameterType="java.lang.String" resultType="User">
        SELECT
            user_id,
            username,
            email,
            role,
            admin_role,
            reg_time
        FROM
            user
        WHERE
            username = #{0}
            AND
            password = #{1}
    </select>

    <insert id="add" parameterType="User">
        insert into user(user_id,username,email,password,role,admin_role,reg_time)
        values(#{userId},#{username},#{email},#{password},#{role},#{adminRole},#{regTime})
    </insert>

    <update id="update" parameterType="User">
        UPDATE
            user
        SET
            email = #{email},
            role = #{role}
        WHERE
            user_id = #{userId}
    </update>

    <update id="edit" parameterType="User">
        UPDATE
            user
        SET
            email = #{email}
        WHERE
            user_id = #{userId}
    </update>

    <update id="updatePass" parameterType="User">
        UPDATE
            user
        SET
            password = #{password}
        WHERE
            user_id = #{userId}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM
            user
        WHERE
            user_id = #{0}
    </delete>

</mapper>